Repository neonwatty/ytgify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Fix ESLint error by using SHOW_NEWSLETTER constant instead of literal false
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
Due: eslint --fix, prettier --write

Remove <all_urls> broad host permissions for Chrome Web Store compliance
  manifest.json
Due: prettier --write

Phase 1: Initial WXT setup and configuration
  .gitignore
  .wxt/eslint-auto-imports.mjs
  .wxt/tsconfig.json
  .wxt/types/globals.d.ts
  .wxt/types/i18n.d.ts
  .wxt/types/imports.d.ts
  .wxt/types/paths.d.ts
  .wxt/wxt.d.ts
  entrypoints/background.ts
  entrypoints/content/index.ts
  entrypoints/popup/index.html
  entrypoints/popup/main.tsx
  package-lock.json
  package.json
  plans/wxt-migration-plan.md
  public/icons/icon-optimized.svg
  public/icons/icon.svg
  public/icons/icon128.png
  public/icons/icon16.png
  public/icons/icon32.png
  public/icons/icon48.png
  wxt.config.ts
Due: prettier --write

Phase 2: WXT content script infrastructure (Tasks 2.1-2.4)
  entrypoints/content/gif-maker.ts
  entrypoints/content/index.ts
  entrypoints/content/navigation.ts
  entrypoints/content/style.css
  entrypoints/content/ui-manager.ts
  package-lock.json
  package.json
  wxt.config.ts
Due: prettier --write

Document WXT path alias blocker and partial Phase 2 completion
  MIGRATION_NOTES.md
  entrypoints/content/index.ts
  wxt.config.ts
Due: prettier --write

Phase 2 infrastructure complete - path aliases resolved with srcDir
  .wxt/eslint-auto-imports.mjs
  .wxt/tsconfig.json
  .wxt/types/imports.d.ts
  MIGRATION_NOTES.md
  src/content/youtube-detector.ts
  src/entrypoints/background.ts
  src/entrypoints/content/gif-maker.ts
  src/entrypoints/content/index.ts
  src/entrypoints/content/navigation.ts
  src/entrypoints/content/style.css
  src/entrypoints/content/ui-manager.ts
  src/entrypoints/popup/index.html
  src/entrypoints/popup/main.tsx
  src/public/icons/icon-optimized.svg
  src/public/icons/icon.svg
  src/public/icons/icon128.png
  src/public/icons/icon16.png
  src/public/icons/icon32.png
  src/public/icons/icon48.png
  wxt.config.ts
Due: eslint --fix, prettier --write

Complete Phase 2: WXT Migration with Singleton Refactoring
  MIGRATION_NOTES.md
  src/content/cleanup-manager.ts
  src/content/gif-processor.ts
  src/content/index.ts
  src/content/injection-manager.ts
  src/content/overlay-state.ts
  src/content/player-controller.ts
  src/content/player-integration.ts
  src/content/preview-loop.ts
  src/content/youtube-api-integration.ts
  src/entrypoints/content/gif-maker.ts
  src/entrypoints/content/index.ts
  src/shared/index.ts
  src/shared/state-manager.ts
  src/themes/index.ts
  src/themes/theme-detector.ts
  src/themes/youtube-matcher.ts
Due: eslint --fix, prettier --write

Remove Beehiv iframe embed for Manifest V3 compliance
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
  tests/unit/content/overlay-wizard/FeedbackScreen.test.tsx
Due: eslint --fix, prettier --write

Document WXT E2E test blocker and debugging attempts
  plans/wxt-migration-e2e-test-blocker.md
  src/entrypoints/content/gif-maker.ts
  src/entrypoints/content/index.ts
Due: eslint --fix, prettier --write

Fix incomplete GIF creation on slow network connections
  plans/enhanced-mock-server-buffering-tests.md
  src/content/frame-extractor.ts
  src/content/gif-processor.ts
  src/lib/simple-frame-extractor.ts
  tests/e2e-mock/fixtures.ts
  tests/e2e-mock/helpers/network-profiles.ts
  tests/e2e-mock/slow-buffering.spec.ts
  tests/e2e/slow-network-buffering.spec.ts
  tests/unit/lib/simple-frame-extractor.test.ts
Due: eslint --fix, prettier --write

Fix unit test mocks for buffering changes
  tests/unit/content/gif-processor.test.ts
  tests/unit/lib/simple-frame-extractor.test.ts
Due: none

Improve landing page layout and add multiple CTAs
  app/components/ExampleGifsGallery.tsx
  app/components/FeatureChecklist.tsx
  app/components/FirefoxStoreBadge.tsx
  app/components/HeroDescription.tsx
  app/components/Logo.tsx
  app/components/SiteFooter.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  public/firefox-addons-badge.png
  tests/smoke.spec.ts
Due: none

Add social links to footer with icons and tests
  app/components/SiteFooter.tsx
  package-lock.json
  package.json
  tests/smoke.spec.ts
Due: prettier --write

Add version number display to extension popup
  manifest.json
  package-lock.json
  package.json
  src/popup/popup-modern.tsx
  src/popup/styles-modern.css
  tests/unit/__mocks__/chrome-mocks.ts
  tests/unit/background/background.test.ts
  tests/unit/components/popup.test.tsx
Due: eslint --fix, prettier --write

Add official Firefox add-on to landing page
  app/components/FirefoxStoreBadge.tsx
  app/components/SiteFooter.tsx
  lib/constants.ts
  tests/smoke.spec.ts
Due: none

Add comprehensive SEO and social sharing optimization
  app/layout.tsx
  lib/constants.ts
  package-lock.json
  package.json
  public/og-image.png
  public/robots.txt
  public/sitemap.xml
  public/twitter-image.png
  scripts/generate-og-image.html
  scripts/generate-og-image.js
Due: prettier --write

Fix ESLint errors and warnings
  app/components/ExampleGifsGallery.tsx
  scripts/generate-og-image.js
Due: none

Remove unused IndexedDB storage and cleanup on extension update
  CLAUDE.md
  manifest.json
  package.json
  src/background/index.ts
  src/background/message-handler.ts
  src/content/gif-processor.ts
  src/content/index.ts
  src/shared/database-cleanup.ts
  tests/integration/gif-creation-workflow.test.ts
  tests/unit/__mocks__/chrome-mocks.ts
  tests/unit/background/background.test.ts
  tests/unit/background/message-handler.test.ts
  tests/unit/content/gif-processor.test.ts
  tests/unit/shared/database-cleanup.test.ts
Due: eslint --fix, prettier --write

Update test assertions for version 1.0.10
  tests/unit/background/background.test.ts
  tests/unit/components/popup.test.tsx
Due: none

Fix ProcessingScreen test matchers for React text node splitting
  package-lock.json
  src/content/gif-processor.ts
  src/content/index.ts
  src/content/overlay-wizard/OverlayWizard.tsx
  src/content/overlay-wizard/screens/ProcessingScreen.tsx
  src/content/timeline-overlay-wizard.tsx
  src/content/wizard-styles.css
  src/monitoring/metrics-collector.ts
  tests/unit/content/overlay-wizard/ProcessingScreen.test.tsx
Due: eslint --fix, prettier --write

Improve IndexedDB cleanup and remove network speed indicator
  plans/buffering-safeguards-comprehensive.md
  src/background/index.ts
  src/content/gif-processor.ts
  src/content/overlay-wizard/screens/ProcessingScreen.tsx
  src/content/wizard-styles.css
  tests/unit/content/overlay-wizard/ProcessingScreen.test.tsx
Due: eslint --fix, prettier --write

Phase 0: Foundation setup for backend integration
  .env.development
  .env.production
  src/lib/api/.gitkeep
  src/lib/storage/.gitkeep
Due: none

Replace newsletter with Discord community link and remove dead code
  manifest.json
  package-lock.json
  package.json
  src/content/index.ts
  src/content/newsletter-wizard/NewsletterWizard.tsx
  src/content/overlay-wizard/OverlayWizard.tsx
  src/content/overlay-wizard/hooks/useOverlayNavigation.ts
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/content/wizard-styles.css
  src/popup/popup-modern.tsx
  tests/e2e/page-objects/FeedbackPage.ts
  tests/unit/components/popup.test.tsx
  tests/unit/content/newsletter-wizard/NewsletterWizard.test.tsx
  tests/unit/content/overlay-wizard/FeedbackScreen.test.tsx
  tests/unit/content/overlay-wizard/SuccessScreen.test.tsx
Due: eslint --fix, prettier --write

Update version number in tests to 1.0.11
  tests/unit/background/background.test.ts
  tests/unit/components/popup.test.tsx
Due: none

Fix text overlay screen navigation and layout issues
  package-lock.json
  src/constants/links.ts
  src/content/gif-processor.ts
  src/content/index.ts
  src/content/overlay-wizard/OverlayWizard.tsx
  src/content/overlay-wizard/screens/ProcessingScreen.tsx
  src/content/overlay-wizard/screens/TextOverlayScreenV2.tsx
  src/content/wizard-styles.css
  test-discord-error.html
  test-text-overlay-layout.html
  tests/e2e-mock/DISCORD_ERROR_LINK_TESTING.md
  tests/e2e-mock/error-discord-link.spec.ts
  tests/unit/content/overlay-wizard/ProcessingScreen.test.tsx
  tests/unit/content/overlay-wizard/TextOverlayScreenV2.test.tsx
Due: eslint --fix, prettier --write

Phase 3: E2E test suite + token refresh flow fixes
  .env.development
  .env.example
  .env.production
  DEPLOYMENT.md
  REAL_BACKEND_TESTING.md
  manifest.json
  package.json
  run-token-refresh-debug.sh
  scripts/start-backend-for-tests.sh
  src/background/token-manager.ts
  src/content/index.ts
  src/lib/api/api-client.ts
  src/popup/components/GifCard.tsx
  src/popup/components/PopupWithAuth.tsx
  src/popup/components/TrendingView.tsx
  src/popup/components/UserProfileView.tsx
  src/types/auth.ts
  tests/debug-screenshots/03-after-button-click.png
  tests/debug-screenshots/04-wizard-appeared.png
  tests/debug-screenshots/05-button-highlighted.png
  tests/debug-screenshots/06-after-scroll.png
  tests/debug-screenshots/07-after-click-success.png
  tests/e2e-upload/ERROR_SCENARIOS_TESTS.md
  tests/e2e-upload/README-TOKEN-REFRESH-DEBUG.md
  tests/e2e-upload/SOCIAL_FEATURES_TESTS.md
  tests/e2e-upload/TEST_SUITE_SUMMARY.md
  tests/e2e-upload/error-scenarios.spec.ts
  tests/e2e-upload/fixtures.ts
  tests/e2e-upload/social-features.spec.ts
  tests/e2e-upload/token-refresh-debug.spec.ts
  tests/e2e-upload/token-refresh-flow.spec.ts
  tests/e2e-upload/upload-flow.spec.ts
  tests/unit/lib/api/api-client.test.ts
  webpack.config.cjs
Due: eslint --fix, prettier --write

Add knip:production to validate:pre-push command
  package.json
Due: prettier --write

Remove cancel button from GIF processing screen
  manifest.json
  package-lock.json
  package.json
  src/content/overlay-wizard/OverlayWizard.tsx
  src/content/overlay-wizard/screens/ProcessingScreen.tsx
  tests/e2e/error-handling.spec.ts
  tests/e2e/page-objects/ProcessingPage.ts
  tests/unit/background/background.test.ts
Due: eslint --fix, prettier --write

Fix ProcessingScreen back button to navigate to text-overlay screen
  src/content/overlay-wizard/OverlayWizard.tsx
  src/content/overlay-wizard/screens/TextOverlayScreenV2.tsx
  tests/e2e/error-handling.spec.ts
Due: eslint --fix, prettier --write

Fix lint errors in recent changes
  src/content/overlay-wizard/OverlayWizard.tsx
  tests/unit/components/popup.test.tsx
Due: eslint --fix, prettier --write

Fix: Prevent duplicate GIF creation calls after back navigation from processing
  src/content/index.ts
  src/content/overlay-wizard/OverlayWizard.tsx
  src/content/overlay-wizard/screens/TextOverlayScreenV2.tsx
  tests/e2e/error-handling.spec.ts
  tests/e2e/page-objects/TextOverlayPage.ts
Due: eslint --fix, prettier --write

Fix text overlay preview not updating when time range changes
  src/content/overlay-wizard/screens/TextOverlayScreenV2.tsx
  tests/e2e/error-handling.spec.ts
Due: eslint --fix, prettier --write

Consolidate E2E tests to mock-only approach
  CLAUDE.md
  package.json
  tests/e2e-mock/css-isolation.spec.ts
  tests/e2e-mock/fixtures/mock-youtube/youtube-channel.html
  tests/e2e-mock/fixtures/mock-youtube/youtube-search.html
  tests/e2e-mock/helpers/mock-server.ts
  tests/e2e-mock/popup-cta.spec.ts
  tests/e2e-mock/youtube-layout-integrity.spec.ts
  tests/e2e/css-isolation.spec.ts
  tests/e2e/error-handling.spec.ts
  tests/e2e/fixtures.ts
  tests/e2e/gif-output-validation.spec.ts
  tests/e2e/global-setup.ts
  tests/e2e/global-teardown.ts
  tests/e2e/helpers/extension-helpers.ts
  tests/e2e/helpers/gif-validator.ts
  tests/e2e/helpers/test-videos.ts
  tests/e2e/page-objects/GifWizard.ts
  tests/e2e/page-objects/ProcessingPage.ts
  tests/e2e/page-objects/QuickCapturePage.ts
  tests/e2e/page-objects/SuccessPage.ts
  tests/e2e/page-objects/TextOverlayPage.ts
  tests/e2e/page-objects/YouTubePage.ts
  tests/e2e/slow-network-buffering.spec.ts
  tests/e2e/wizard-basic.spec.ts
  tests/e2e/wizard-settings-matrix.spec.ts
  tests/e2e/youtube-layout-integrity.spec.ts
  tests/playwright-mock.config.ts
  tests/playwright.config.ts
Due: prettier --write

Add interactive duration input to QuickCapture screen
  manifest.json
  package.json
  src/content/overlay-wizard/components/TimelineScrubber.tsx
  tests/unit/background/background.test.ts
  tests/unit/components/TimelineScrubber.test.tsx
  tests/unit/components/popup.test.tsx
Due: eslint --fix, prettier --write

Add blog with MDX support and privacy policy page
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/blog/tag/[tag]/page.tsx
  app/components/SiteFooter.tsx
  app/components/blog/BlogCard.tsx
  app/components/blog/RelatedPosts.tsx
  app/components/blog/TagBadge.tsx
  app/privacy-policy/page.tsx
  app/sitemap.ts
  content/blog/best-gif-settings-for-social-media.mdx
  content/blog/how-to-create-gif-from-youtube-video.mdx
  lib/blog.ts
  lib/schema.ts
  mdx-components.tsx
  next.config.ts
  package-lock.json
  package.json
  tailwind.config.ts
Due: prettier --write

Fix tests for new internal blog link and increase webServer timeout
  playwright.config.ts
  tests/smoke.spec.ts
Due: none

Add Terms of Service page
  app/components/SiteFooter.tsx
  app/sitemap.ts
  app/terms-of-service/page.tsx
Due: none
