Repository neonwatty/ytgify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Add feedback system with Google Form survey integration
  manifest.json
  package-lock.json
  package.json
  src/constants/features.ts
  src/constants/links.ts
  src/content/overlay-wizard/components/FeatureVoteCard.tsx
  src/content/overlay-wizard/components/FeedbackModal.tsx
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/content/wizard-styles.css
  src/popup/popup-modern.tsx
  src/popup/styles-modern.css
  src/shared/feedback-tracker.ts
  src/types/storage.ts
  tests/unit/background/background.test.ts
  tests/unit/components/FeedbackModal.test.tsx
  tests/unit/components/popup.test.tsx
Due: eslint --fix, prettier --write

Remove unused getFeedbackSurveyLink function
  src/constants/links.ts
Due: eslint --fix, prettier --write

Add link validation with daily CI workflow
  .github/workflows/link-validation.yml
  src/constants/links.ts
  src/popup/popup-modern.tsx
  tests/unit/constants/links.test.ts
Due: eslint --fix, prettier --write

Simplify link validation workflow - fail naturally without issue creation
  .github/workflows/link-validation.yml
Due: prettier --write

Update SEO messaging and add blog demo assets
  app/components/HeroDescription.tsx
  app/components/blog/ImageCarousel.tsx
  app/layout.tsx
  app/page.tsx
  content/blog/best-gif-settings-for-social-media.mdx
  content/blog/how-to-create-gif-from-youtube-video.mdx
  lib/constants.ts
  mdx-components.tsx
  public/ytgify-demo-1.png
  public/ytgify-demo-2.png
  public/ytgify-demo-3.png
  public/ytgify-demo-4.png
  public/ytgify-demo-5.png
Due: none

Update headline test to match new SEO-optimized H1
  tests/smoke.spec.ts
Due: none

Simplify feedback modal to direct Google Form link
  src/constants/features.ts
  src/content/overlay-wizard/components/FeatureVoteCard.tsx
  src/content/overlay-wizard/components/FeedbackModal.tsx
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/shared/feedback-tracker.ts
  src/types/storage.ts
  tests/unit/components/FeedbackModal.test.tsx
  tests/unit/constants/features.test.ts
  tests/unit/content/overlay-wizard/SuccessScreen.test.tsx
  tests/unit/shared/feedback-tracker.test.ts
Due: eslint --fix, prettier --write

Bump version to 1.0.15
  manifest.json
  package.json
Due: prettier --write

Update Discord invite link and bump version to 1.0.16
  manifest.json
  package.json
  src/constants/links.ts
  tests/unit/constants/links.test.ts
Due: eslint --fix, prettier --write

Initialize wizard at current video playback position
  manifest.json
  package-lock.json
  package.json
  src/content/index.ts
  src/content/overlay-wizard/screens/QuickCaptureScreen.tsx
  tests/e2e-mock/wizard-basic.spec.ts
  tests/unit/content/overlay-wizard/QuickCaptureScreen.test.tsx
Due: eslint --fix, prettier --write

Add Share This GIF button for demand validation
  src/constants/links.ts
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/shared/engagement-tracker.ts
  src/types/storage.ts
Due: eslint --fix, prettier --write

Revert "Add Share This GIF button for demand validation"
  src/constants/links.ts
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/shared/engagement-tracker.ts
  src/types/storage.ts
Due: eslint --fix, prettier --write

Add plan for demand validation CTA on success screen
  plans/demand-validation-cta.md
Due: prettier --write

Add social preview assets
  assets/social-preview.png
  assets/social-preview.svg
Due: none

Add Share This GIF CTA to success screen for demand validation
  src/constants/links.ts
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  tests/unit/constants/links.test.ts
  tests/unit/content/overlay-wizard/SuccessScreen.test.tsx
Due: eslint --fix, prettier --write

Bump version to 1.0.18
  manifest.json
  package.json
  plans/buffering-safeguards-comprehensive.md
  plans/enhanced-mock-server-buffering-tests.md
Due: prettier --write

Add release workflow for GitHub releases
  .github/workflows/release.yml
Due: prettier --write

Add organic marketing strategy plan for Chrome extension
  plans/marketing-strategy-chrome-extension.md
Due: prettier --write

Add release workflow for GitHub releases (#63)
  .github/workflows/release.yml
Due: prettier --write

Add Discord webhook integration for sharing GIFs
  src/background/message-handler.ts
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/content/wizard-styles.css
  src/popup/popup-modern.tsx
  src/popup/styles-modern.css
  src/shared/discord-service.ts
  src/types/index.ts
  src/types/messages.ts
  tests/unit/shared/discord-service.test.ts
Due: eslint --fix, prettier --write

Add gitleaks secret scanning to CI
  .github/workflows/ci.yml
Due: prettier --write

Add gitleaks secret scanning to CI (#64)
  .github/workflows/ci.yml
Due: prettier --write

Optimize manifest name and description for Chrome Web Store SEO
  manifest.json
Due: prettier --write

Update messaging: tone down Discord, refresh store listing, improve share CTA
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/popup/popup-modern.tsx
  store-assets/listing-content.md
  tests/unit/components/popup.test.tsx
  tests/unit/content/overlay-wizard/SuccessScreen.test.tsx
Due: eslint --fix, prettier --write

Remove unused Discord exports to fix knip check
  src/shared/discord-service.ts
  src/types/index.ts
  src/types/messages.ts
  tests/unit/shared/discord-service.test.ts
Due: eslint --fix, prettier --write

Fix SuccessScreen tests: use specific selectors for dismiss buttons
  tests/unit/content/overlay-wizard/SuccessScreen.test.tsx
Due: none

Update background test to use new manifest name
  tests/unit/background/background.test.ts
Due: none

Bump version to 1.0.19
  manifest.json
  package.json
Due: prettier --write

Improve Chrome Web Store presence and update messaging (#67)
  manifest.json
  package.json
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/popup/popup-modern.tsx
  store-assets/listing-content.md
  tests/unit/background/background.test.ts
  tests/unit/components/popup.test.tsx
  tests/unit/content/overlay-wizard/SuccessScreen.test.tsx
Due: eslint --fix, prettier --write

Add browser adapter pattern for cross-browser WebExtension compatibility
  package.json
  src/adapters/browser-api.ts
  src/adapters/chrome.ts
  src/adapters/firefox.ts
  src/adapters/index.ts
  src/adapters/safari.ts
  src/background/index.ts
  src/background/message-handler.ts
  src/constants/links.ts
  src/content/cleanup-manager.ts
  src/content/frame-extractor.ts
  src/content/gif-processor.ts
  src/content/index.ts
  src/content/youtube-button.tsx
  src/lib/encoders/gifjs-encoder.ts
  src/lib/errors.ts
  src/lib/logger.ts
  src/lib/service-worker-video-processor.ts
  src/monitoring/metrics-collector.ts
  src/popup/popup-modern.tsx
  src/shared/engagement-tracker.ts
  src/shared/error-handler.ts
  src/shared/feedback-tracker.ts
  src/shared/logger.ts
  src/shared/message-bus.ts
  src/shared/state-manager.ts
  src/utils/keyboard-shortcuts.ts
  tests/unit/__mocks__/chrome-mocks.ts
  tests/unit/background/message-handler.test.ts
  tests/unit/components/popup.test.tsx
  tests/unit/lib/service-worker-video-processor.test.ts
  tests/unit/shared/engagement-tracker.test.ts
  tests/unit/shared/feedback-tracker.test.ts
  tests/unit/shared/message-bus.test.ts
  webpack.config.cjs
Due: eslint --fix, prettier --write

Add browser build output directories to gitignore
  .gitignore
Due: none
