Repository neonwatty/ytgify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add auth integration with backend API
  src/background/index.ts
  src/background/token-manager.ts
  src/lib/api/api-client.ts
  src/lib/storage/storage-adapter.ts
  src/popup/components/AuthView.tsx
  src/popup/components/PopupWithAuth.tsx
  src/popup/components/TrendingView.tsx
  src/popup/components/UserProfileView.tsx
  src/popup/index.tsx
  src/types/auth.ts
Due: eslint --fix, prettier --write

ci: add integration test workflow for cross-repo testing
  .github/workflows/integration-tests.yml
Due: prettier --write

fix: add missing GifCard component
  src/popup/components/GifCard.tsx
Due: eslint --fix, prettier --write

fix: update GifCard to use toggleLike API method
  src/popup/components/GifCard.tsx
Due: eslint --fix, prettier --write

fix: ignore auth types in knip dead code detection
  knip.json
Due: prettier --write

fix: correct knip ignore format for auth files
  knip.json
Due: prettier --write

fix: improve popup-cta test reliability with better wait strategy
  tests/e2e-mock/popup-cta.spec.ts
Due: none

fix: add data-testid to loading state for popup CTA tests
  src/popup/components/PopupWithAuth.tsx
  tests/e2e-mock/popup-cta.spec.ts
Due: eslint --fix, prettier --write

ci: disable mock E2E tests until popup issues are resolved
  .github/workflows/ci.yml
Due: prettier --write

ci: add cross-repo integration tests workflow
  .github/workflows/integration-tests.yml
Due: prettier --write

fix: remove confirmed_at from seed user (not enabled in Devise)
  .github/workflows/integration-tests.yml
Due: prettier --write

fix: use test:e2e:headed script
  .github/workflows/integration-tests.yml
Due: prettier --write

feat: add real backend API integration tests
  package.json
  tests/e2e-backend/backend-api.spec.ts
  tests/e2e-backend/fixtures/test.gif
  tests/playwright-backend.config.ts
Due: prettier --write

fix: update integration workflow to use real backend API tests
  .github/workflows/integration-tests.yml
Due: prettier --write

fix: wrap login params in user object for Rails API
  tests/e2e-backend/backend-api.spec.ts
Due: none

ci: add FFmpeg, test video generation, and Xvfb to integration tests
  .github/workflows/integration-tests.yml
Due: prettier --write

fix: use form-data for multipart uploads in integration tests
  package-lock.json
  package.json
  tests/e2e-backend/backend-api.spec.ts
Due: prettier --write

fix: cast Buffer to Uint8Array for Node.js fetch compatibility
  tests/e2e-backend/backend-api.spec.ts
Due: none

fix: add webpack DefinePlugin to replace process.env at build time
  tests/e2e-mock/popup-cta.spec.ts
  webpack.config.cjs
Due: none

feat: add auth integration with backend API (#69)
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
  knip.json
  package-lock.json
  package.json
  src/background/index.ts
  src/background/token-manager.ts
  src/lib/api/api-client.ts
  src/lib/storage/storage-adapter.ts
  src/popup/components/AuthView.tsx
  src/popup/components/GifCard.tsx
  src/popup/components/PopupWithAuth.tsx
  src/popup/components/TrendingView.tsx
  src/popup/components/UserProfileView.tsx
  src/popup/index.tsx
  src/types/auth.ts
  tests/e2e-backend/backend-api.spec.ts
  tests/e2e-backend/fixtures/test.gif
  tests/e2e-mock/popup-cta.spec.ts
  tests/playwright-backend.config.ts
  webpack.config.cjs
Due: eslint --fix, prettier --write

Add Makefile and local development scripts
  Makefile
  package.json
Due: prettier --write

Add Makefile and local development scripts (#72)
  Makefile
  package.json
Due: prettier --write

fix: prevent double /api/v1 prefix in API base URL
  src/lib/api/api-client.ts
Due: eslint --fix, prettier --write

chore: trigger pages deployment for domain switch
  app/layout.tsx
Due: none

fix: correct TypeScript syntax in layout.tsx
  app/layout.tsx
Due: none

docs: add Chrome Web Store removal notice
  README.md
Due: prettier --write

test: skip URL reachability tests for discontinued service
  tests/unit/constants/links.test.ts
Due: none

docs: add Chrome Web Store removal notice (#74)
  README.md
  tests/unit/constants/links.test.ts
Due: prettier --write

feat: add Chrome Web Store removal notice and local installation
  app/components/DiscontinuationNotice.tsx
  app/components/SiteFooter.tsx
  app/page.tsx
  public/downloads/ytgify-v1.0.19-chrome.zip
  tests/smoke.spec.ts
Due: none

Update GitHub links after org migration
  docs/changelog.md
  docs/privacy-policy.md
  manifest.json
  store-assets/listing-content.md
  tests/unit/components/popup.test.tsx
  tests/unit/content/overlay-wizard/SuccessScreen.test.tsx
Due: prettier --write

Add merge queue CI triggers
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
Due: prettier --write

Use checks_requested for merge group triggers
  .github/workflows/ci.yml
  .github/workflows/integration-tests.yml
Due: prettier --write

Remove Gitleaks CI job
  .github/workflows/ci.yml
Due: prettier --write

Remove gitleaks CI job
  .github/workflows/ci.yml
Due: prettier --write

Disable automatic integration test triggers
  .github/workflows/integration-tests.yml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{js,jsx})
  prettier --write: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{js,jsx})) or (any of: *.{json,md,yml,yaml})
