Repository neonwatty/ytgify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/**/*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Bump version to 1.0.7
  manifest.json
  package-lock.json
  package.json
Due: prettier --write

plans removed
  plans/marketing-cta-implementation.md
  plans/marketing-cta-mockups.md
Due: prettier --write

Add test artifacts to gitignore
  .gitignore
Due: none

Remove unused MilestoneScreen and script files
  scripts/capture-with-cdp.ts
  scripts/demo-extension.sh
  src/content/overlay-wizard/hooks/useOverlayNavigation.ts
  src/content/overlay-wizard/screens/MilestoneScreen.tsx
  tests/unit/content/overlay-wizard/MilestoneScreen.test.tsx
Due: eslint --fix, prettier --write

Add comprehensive Firefox extension migration plan
  plans/firefox-extension-migration.md
Due: prettier --write

Remove unused favicon files
  favicon-16.png
  favicon.png
  scripts/generate-favicon.js
Due: none

Remove obsolete project files and documentation
  .tfq/tfq.db
  .tfqrc
  .todoq/backup-20250902-154445.json
  .todoq/prd-tasks.json
  .todoq/todoq.db
  .todoqrc
  docs/changelog.md
  docs/chrome-store-compliance-report.md
  docs/faq.md
  docs/known-issues.md
  docs/legal-compliance-review.md
  docs/performance-test-plan.md
  docs/permission-justification.md
  docs/phase-1-completion-summary.md
  docs/phase-2-completion-summary.md
  docs/phase-3-test-results.md
  docs/privacy-policy.md
  docs/security-audit.md
  docs/test-plan.md
  docs/user-guide.md
  jest-results.json
  package-lock.json
Due: prettier --write

Restore privacy policy and changelog
  docs/changelog.md
  docs/privacy-policy.md
Due: prettier --write

Add variation-11 with blog-style design and increased mobile spacing
  landing-page/app/components/FeatureChecklist.tsx
  landing-page/app/components/Header.tsx
  landing-page/app/components/HeroDescription.tsx
  landing-page/app/globals.css
  landing-page/app/variation-1/page.tsx
  landing-page/app/variation-11/page.tsx
Due: none

Make variation-11 the main landing page and remove old variations
  landing-page/app/components/GitHubStyleCTA.tsx
  landing-page/app/components/GitHubStyleFooter.tsx
  landing-page/app/components/GitHubStyleHero.tsx
  landing-page/app/page.tsx
  landing-page/app/variation-1/page.tsx
  landing-page/app/variation-10/page.tsx
  landing-page/app/variation-11/page.tsx
  landing-page/app/variation-2/page.tsx
  landing-page/app/variation-3/page.tsx
  landing-page/app/variation-4/page.tsx
  landing-page/app/variation-5/page.tsx
  landing-page/app/variation-6/page.tsx
  landing-page/app/variation-7/page.tsx
  landing-page/app/variation-8/page.tsx
  landing-page/app/variation-9/page.tsx
Due: none

Add Playwright test artifacts to gitignore
  .gitignore
  playwright-report/index.html
  test-results/.last-run.json
Due: prettier --write

Enable deployment workflow on push to landing-page
  .github/workflows/deploy-landing-page.yml
Due: prettier --write

Combine test and deploy workflows with conditional deployment
  .github/workflows/deploy-landing-page.yml
  .github/workflows/test.yml
Due: prettier --write

Fix deploy job conditional to prevent PR deployment attempts
  .github/workflows/deploy-landing-page.yml
Due: prettier --write

Configure Next.js basePath for GitHub Pages deployment
  next.config.ts
Due: none

Fix image preload links by removing priority prop
  app/components/Logo.tsx
Due: none

Fix image paths to respect basePath for GitHub Pages
  app/components/ChromeStoreBadge.tsx
  app/components/Logo.tsx
Due: none

Implement comprehensive SEO optimization for competitor keywords
  app/components/HeroDescription.tsx
  app/layout.tsx
  app/page.tsx
  next.config.ts
  tests/smoke.spec.ts
Due: none

Integrate gifski-wasm encoder for highest quality GIF generation
  manifest.json
  package-lock.json
  package.json
  src/lib/encoders/encoder-factory.ts
  src/lib/encoders/gifjs-encoder.ts
  src/lib/encoders/gifski-encoder.ts
  src/lib/encoders/index.ts
  tests/unit/__mocks__/setup.ts
  tests/unit/lib/encoders/encoder-factory.test.ts
Due: eslint --fix, prettier --write

Configure for custom domain ytgify.com
  app/components/ChromeStoreBadge.tsx
  app/components/Logo.tsx
  app/layout.tsx
  next.config.ts
  public/CNAME
Due: none

Add Google Analytics 4 tracking
  app/components/GoogleAnalytics.tsx
  app/layout.tsx
Due: none

Replace favicon with YTgify gradient logo
  app/favicon.ico
  app/icon.svg
Due: none

Bump version to 1.0.8 and adjust GIF size estimates for gifski encoder
  manifest.json
  package-lock.json
  package.json
  src/content/overlay-wizard/screens/QuickCaptureScreen.tsx
  tests/unit/content/wizard-resolution.test.ts
  tests/unit/lib/encoders/gifski-encoder.test.ts
Due: eslint --fix, prettier --write

Add comprehensive gifski encoder fallback test coverage
  tests/unit/lib/encoders/encoder-factory.test.ts
Due: none

Fix service worker crash by adding DOM guards to gif.js encoder
  src/lib/encoders/gifjs-encoder.ts
Due: eslint --fix, prettier --write

Fix service worker console error and improve architecture
  package.json
  src/background/worker.ts
  src/content/overlay-wizard/screens/QuickCaptureScreen.tsx
  src/lib/encoders/encoder-factory.ts
  src/lib/encoders/gifjs-encoder.ts
  src/lib/encoders/index.ts
  tests/unit/background/worker.test.ts
  tests/unit/content/wizard-resolution.test.ts
Due: eslint --fix, prettier --write

Redesign feedback screen to prioritize BeehIiv newsletter signup
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
  tests/unit/content/overlay-wizard/FeedbackScreen.test.tsx
Due: eslint --fix, prettier --write

Add purple container styling to newsletter section for visual hierarchy
  src/content/wizard-styles.css
Due: none

Reduce vertical spacing and expand newsletter form width
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
  src/content/wizard-styles.css
Due: eslint --fix, prettier --write

Reduce newsletter iframe height to eliminate excess bottom spacing
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
Due: eslint --fix, prettier --write

Further reduce newsletter iframe height from 95px to 70px
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
Due: eslint --fix, prettier --write

Reduce newsletter iframe height from 70px to 60px
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
Due: eslint --fix, prettier --write

Rename feedback screen to "Stay Connected" with descriptive subtext
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/content/wizard-styles.css
  tests/unit/content/overlay-wizard/FeedbackScreen.test.tsx
  tests/unit/content/overlay-wizard/SuccessScreen.test.tsx
Due: eslint --fix, prettier --write

Add standalone newsletter wizard with "Stay Connected" button in popup
  manifest.json
  src/content/index.ts
  src/content/newsletter-wizard/NewsletterWizard.tsx
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
  src/content/wizard-styles.css
  src/popup/popup-modern.tsx
  src/popup/styles-modern.css
  src/types/messages.ts
  tests/unit/components/popup.test.tsx
  tests/unit/content/newsletter-wizard/NewsletterWizard.test.tsx
  tests/unit/content/overlay-wizard/FeedbackScreen.test.tsx
Due: eslint --fix, prettier --write

Hide newsletter sign-up section with conditional flag
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
Due: eslint --fix, prettier --write

Skip newsletter-related tests temporarily with .skip modifier
  tests/unit/content/overlay-wizard/FeedbackScreen.test.tsx
Due: none
