Repository neonwatty/ytgify: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

husky updates
  .husky/pre-push
  CONTRIBUTING.md
  README.md
Due: prettier --write

cleanup
  RESOLUTION_TEST_GUIDE.md
Due: prettier --write

cleanup and ytgif brand consistency
  screenshots/popup.png
  screenshots/screen-1-1.png
  screenshots/screen-1-2.png
  screenshots/screen-2-1.png
  screenshots/screen-2-2.png
  screenshots/screen-2-design-gif.png
  screenshots/screen-3-add-text.png
  screenshots/screen-3.png
  screenshots/screen-4-creating-gif.png
  screenshots/screen-4.png
  screenshots/screen-5-final-gif-no-text.png
  src/content/overlay-wizard/screens/TextOverlayScreenV2.tsx
  tests/unit/content/overlay-wizard/TextOverlayScreenV2.test.tsx
Due: eslint --fix, prettier --write

Test new pre-commit hook (fast lint only)
  src/content/index.ts
Due: eslint --fix, prettier --write

Remove test comment
  src/content/index.ts
Due: eslint --fix, prettier --write

store assets added
  .husky/pre-commit
  .husky/pre-push
  CONTRIBUTING.md
  logos/logo-abstract-time-capture.svg
  logos/logo-frame-sequence-v1-integrated-play-variation-2-layered-depth-black-1.svg
  logos/logo-neon-accessible-mintviolet.svg
  logos/logo-youtube-gif-hybrid-v7.svg
  package-lock.json
  package.json
  screenshots/screen-1-1.png
  screenshots/screen-1-2.png
  screenshots/screen-2-1.png
  screenshots/screen-2-2.png
  screenshots/screen-3.png
  screenshots/screen-4.png
  store-assets/generate-tiles.js
  store-assets/marquee-tile-1400x560.png
  store-assets/marquee-tile.html
  store-assets/screenshots/screen-1-1.png
  store-assets/screenshots/screen-1-2.png
  store-assets/screenshots/screen-2.png
  store-assets/screenshots/screen-4.png
  store-assets/screenshots/screenshot-1.png
  store-assets/screenshots/screenshot-2.png
  store-assets/screenshots/screenshot-3.png
  store-assets/screenshots/screenshot-4.png
  store-assets/screenshots/screenshot-5.png
  store-assets/small-tile-440x280.png
  store-assets/small-tile.html
  tests/e2e/helpers/extension-helpers.ts
  tests/e2e/wizard-basic.spec.ts
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

e2e test fixup
  README.md
  package.json
  tests/README.md
  tests/e2e/fixtures.ts
  tests/e2e/page-objects/YouTubePage.ts
Due: prettier --write

e2e test fixup - fixing e2e pre-push failures
  .husky/pre-push
  tests/e2e/fixtures.ts
  tests/e2e/wizard-basic.spec.ts
Due: none

duplicate frame issue addressed, unit and e2e test added
  package.json
  src/content/gif-processor.ts
  tests/e2e/wizard-basic.spec.ts
  tests/unit/content/gif-processor.test.ts
Due: eslint --fix, prettier --write

version 1.0.1 update
  package-lock.json
  package.json
Due: prettier --write

canvas cleanup and version 1.0.2
  docs/changelog.md
  manifest.json
  package-lock.json
  package.json
  src/content/gif-processor.ts
  src/lib/encoders/gifjs-encoder.ts
Due: eslint --fix, prettier --write

feat: add willReadFrequently optimization to canvas contexts
  src/content/gif-processor.ts
  src/lib/instant-frame-capture.ts
  src/lib/simple-frame-extractor.ts
  src/processing/canvas-processor.ts
  src/processing/frame-extractor.ts
  src/processing/resolution-scaler.ts
Due: eslint --fix, prettier --write

warnings off for non youtube pages
  src/content/index.ts
Due: eslint --fix, prettier --write

Update description in manifest.json
  manifest.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

description update for store
  manifest.json
  package-lock.json
  package.json
Due: prettier --write

description update for store
  docs/changelog.md
  store-assets/listing-content.md
Due: prettier --write

Add complete mock E2E test suite with 100% real test parity
  .github/workflows/ci.yml
  .gitignore
  manifest.json
  package.json
  src/content/overlay-wizard/OverlayWizard.tsx
  src/content/overlay-wizard/screens/QuickCaptureScreen.tsx
  tests/README.md
  tests/e2e-mock/EXAMPLE_UPDATED_TEST.md
  tests/e2e-mock/PHASES_1_AND_2_SUMMARY.md
  tests/e2e-mock/PHASE_1_COMPLETE.md
  tests/e2e-mock/PHASE_2_COMPLETE.md
  tests/e2e-mock/PHASE_3_COMPLETE.md
  tests/e2e-mock/README.md
  tests/e2e-mock/VALIDATION_USAGE.md
  tests/e2e-mock/error-handling.spec.ts
  tests/e2e-mock/fixtures.ts
  tests/e2e-mock/fixtures/mock-youtube/styles.css
  tests/e2e-mock/fixtures/mock-youtube/youtube-player.js
  tests/e2e-mock/fixtures/mock-youtube/youtube-watch.html
  tests/e2e-mock/fixtures/videos/README.md
  tests/e2e-mock/fixtures/videos/generate-test-videos.sh
  tests/e2e-mock/gif-output-validation.spec.ts
  tests/e2e-mock/global-setup.ts
  tests/e2e-mock/global-teardown.ts
  tests/e2e-mock/helpers/gif-validator-mock.ts
  tests/e2e-mock/helpers/mock-server.ts
  tests/e2e-mock/helpers/mock-videos.ts
  tests/e2e-mock/page-objects/ProcessingPage.ts
  tests/e2e-mock/page-objects/QuickCapturePage.ts
  tests/e2e-mock/page-objects/SuccessPage.ts
  tests/e2e-mock/page-objects/TextOverlayPage.ts
  tests/e2e-mock/page-objects/YouTubePage.ts
  tests/e2e-mock/page-objects/index.ts
  tests/e2e-mock/wizard-basic.spec.ts
  tests/e2e-mock/wizard-settings-matrix.spec.ts
  tests/playwright-mock.config.ts
Due: eslint --fix, prettier --write

Fix TypeScript type mismatch in wizard-settings-matrix test
  tests/e2e-mock/wizard-settings-matrix.spec.ts
Due: none

Add sharded mock E2E tests to CI workflow
  .github/workflows/ci.yml
  package.json
  scratch.md
  src/content/frame-extractor.ts
  src/content/overlay-wizard/OverlayWizard.tsx
  src/lib/simple-frame-extractor.ts
  src/processing/resolution-scaler.ts
  test-output-144p.gif
  tests/debug-gif-structure.ts
  tests/e2e-mock/debug-frame-capture.spec.ts
  tests/e2e-mock/debug-gif-parser.spec.ts
  tests/e2e-mock/debug-gif-settings.spec.ts
  tests/e2e-mock/fixtures/videos/generate-test-videos.sh
  tests/e2e-mock/gif-output-validation.spec.ts
  tests/e2e-mock/helpers/gif-validator-mock.ts
  tests/e2e-mock/helpers/mock-server.ts
  tests/e2e-mock/helpers/mock-videos.ts
  tests/e2e-mock/page-objects/QuickCapturePage.ts
  tests/e2e-mock/wizard-basic.spec.ts
  tests/e2e-mock/wizard-settings-matrix.spec.ts
  tests/e2e/helpers/gif-validator.ts
  tests/playwright-mock.config.ts
  tests/unit/processing/resolution-scaler.test.ts
Due: eslint --fix, prettier --write

Add FFmpeg installation to CI workflow
  .github/workflows/ci.yml
Due: prettier --write

Make FFmpeg installation more robust with retry logic
  .github/workflows/ci.yml
Due: prettier --write

Improve mock E2E test clarity and documentation
  tests/e2e-mock/gif-output-validation.spec.ts
  tests/e2e-mock/helpers/gif-validator-mock.ts
  tests/e2e-mock/page-objects/QuickCapturePage.ts
Due: none

chore: remove unused permissions and dead code - bump to v1.0.4
  manifest.json
  package-lock.json
  package.json
  src/background/index.ts
  src/shared/clipboard.ts
  src/shared/index.ts
  src/shared/sharing.ts
Due: eslint --fix, prettier --write

Document production build and clarify testing workflow
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  README.md
  package.json
  scripts/build-production.sh
Due: prettier --write

Fix YouTube layout issues by loading CSS dynamically instead of statically
  manifest.json
  package.json
  src/content/cleanup-manager.ts
  src/content/index.ts
  src/content/styles-entry.ts
  src/content/styles.css
  src/content/youtube-detector.ts
  tests/e2e-mock/global-setup.ts
  tests/e2e/css-isolation.spec.ts
  tests/e2e/youtube-layout-integrity.spec.ts
  webpack.config.cjs
Due: eslint --fix, prettier --write

chore: bump version to 1.0.5
  manifest.json
  package-lock.json
  package.json
Due: prettier --write

Fix timeline selection overflow on short videos
  src/content/overlay-wizard/components/TimelineScrubber.tsx
  src/content/wizard-styles.css
  tests/e2e-mock/wizard-basic.spec.ts
  tests/unit/components/TimelineScrubber.test.tsx
Due: eslint --fix, prettier --write

Shorten CLAUDE.md documentation
  CLAUDE.md
Due: prettier --write

Add explicit start time input field to timeline scrubber
  src/content/overlay-wizard/components/TimelineScrubber.tsx
  src/content/wizard-styles.css
  tests/e2e/wizard-basic.spec.ts
  tests/unit/components/TimelineScrubber.test.tsx
  tests/unit/content/overlay-wizard/QuickCaptureScreen.test.tsx
Due: eslint --fix, prettier --write

Lower minimum font sizes for text overlays
  src/content/overlay-wizard/screens/TextOverlayScreenV2.tsx
  tests/unit/content/overlay-wizard/TextOverlayScreenV2.test.tsx
Due: eslint --fix, prettier --write

Create claude-issue-triage.yml
  .github/workflows/claude-issue-triage.yml
Due: prettier --write

Add marketing CTA infrastructure and success screen share link
  plans/CHROME_STORE_SUBMISSION.md
  plans/marketing-cta-implementation.md
  plans/marketing-cta-mockups.md
  src/background/index.ts
  src/constants/links.ts
  src/content/index.ts
  src/content/overlay-wizard/screens/SuccessScreen.tsx
  src/content/wizard-styles.css
  src/shared/engagement-tracker.ts
  src/types/storage.ts
  src/utils/social-templates.ts
Due: eslint --fix, prettier --write

Add milestone celebration screens at 10, 25, 50 GIFs
  src/content/overlay-wizard/OverlayWizard.tsx
  src/content/overlay-wizard/hooks/useOverlayNavigation.ts
  src/content/overlay-wizard/screens/MilestoneScreen.tsx
  src/content/wizard-styles.css
Due: eslint --fix, prettier --write

feat: add conditional footer CTA to popup (Phase 4)
  src/popup/popup-modern.tsx
  src/popup/styles-modern.css
Due: eslint --fix, prettier --write

feat: add Show Your Support section to FeedbackScreen
  src/content/overlay-wizard/screens/FeedbackScreen.tsx
  src/content/wizard-styles.css
Due: eslint --fix, prettier --write

Add knip for unused code detection
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{js,jsx})
  prettier --write: ((any of: src/**/*.{ts,tsx}) or (any of: src/**/*.{js,jsx})) or (any of: *.{json,md,yml,yaml})
